 textarea {
     overflow-y: scroll;
     padding: 2rem;
     resize: none; /* Remove this if you want the user to resize the textarea */
     cursor: pointer;
 }
 .gridlayout-item {
     font-size: 1.2em;
     font-weight: 500;
     text-align: center;
     height: 100%;
     padding: 0.5rem;
     text-align: center;
     position: relative;
     z-index: 0;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .gridlayout-item:before {
     content: " ";
     position: absolute;
     z-index: -1;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     opacity: 0.4;
 }
 
 @media (max-width: 575.98px) {
     .gridlayout-item {
         font-size: 0.9em;
     }
 }