@using Microsoft.AspNetCore.SignalR.Client
<div class="col-2 text-center" style="width: 200px">
    <h3>@this.Label</h3>
    <h3 class="border border-dark" style="font-family: 'Orbitron', sans-serif; font-size: @this.FontSize;">@this.Value</h3>
</div>

@code {
    [Parameter]
    public double Value { get; set; }
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public string FontSize { get; set; } = "48px";
}