@using BurnIn.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject ILogger<MainView> _logger


@if (this.Data == null) {
     <h2>Loading....</h2>
 } else {
     <div class="row justify-content-center text-center">
         <h2>Currents</h2>
         @for (int i = 0; i < this.Data.Currents.Count; i++) {
             string label = $"I{i + 1}";
             <DigitalDisplay Value="@this.Data.Currents[i]" Label=@label FontSize="52px"/>
         }
     </div>
     <div class="row justify-content-center text-center">
         <h2>Currents</h2>
         @for (int i = 0; i < this.Data.Currents.Count; i++) {
             string label = $"I{i + 1}";
             <DigitalDisplay Value="@this.Data.Currents[i]" Label=@label FontSize="52px"/>
         }
     </div>
     
     <div class="row justify-content-center text-center">
         <h2>Voltages</h2>
         @for (int i = 0; i < this.Data.Voltages.Count; i++) {
             string label = $"V{i + 1}";
             <DigitalDisplay Value="@this.Data.Voltages[i]" Label=@label FontSize="52px"/>
         }
     </div>
 }
                 

 @code {
     [Parameter]
     public StationSerialData? Data { get; set; }
 }