@using BurnInControl.UI.Data
  <div class=@this._ledClass style=@this._ledCss>
  </div>
@code {
  
  [Parameter]
  public string LedColor { get; set; } = "";
  
  [Parameter]
  public string LedSize { get; set; } = "32px";
  
  [Parameter]
  public bool State { get; set; } = false;

  private string _ledClass = "led";
  private string _ledCss="--led-size: 30px";

  protected override void OnParametersSet() {
    this._ledCss = $"--led-size: {this.LedSize}";
    this._ledClass = (this.State) ? "led "+this.LedColor : "led";
    base.OnParametersSet();
  }

}